{% extends "components/base-layout" %}
{% from "components/post-card" import post_card %}

{% block head %}
<title>echo::rust(🦀)</title>
{% endblock %}

{% block content %}
<main class="max-w-3xl w-full mx-auto py-16 flex flex-col gap-10 px-4">
  <h1 class="text-3xl font-bold mb-8">echo::rust(🦀)</h1>

  <p class="text-gray-300 text-lg">
    Velkommen til echo::rust(🦀)! Vi er en interessegruppe i echo &mdash; Linjeforeningen for Informatikk
    ved Universitet i Bergen. Sammen er vi en gjeng med studenter som er interessert i Rust-programmeringsspråket.
    I løpet av semesteret prøver vi å arrangere små workshops og foredrag for å lære mer om Rust og dele kunnskapen vår.
  </p>

  <p class="text-gray-300 text-lg">
    Besøk <a class="text-blue-500 hover:underline" href="/feed">vår RSS-feed</a> for å holde deg oppdatert på kommende
    arrangementer.
  </p>

  <ul>
    {% for post in posts %}
    <li>
      {{ post_card(post) }}
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}